<h1>Listing musicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instrument</th>
      <th>Info</th>
      <th>Band</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @musicians.each do |musician| %>
      <tr>
        <td><%= musician.name %></td>
        <td><%= musician.instrument %></td>
        <td><%= musician.info %></td>
        <td><%= musician.band.title %></td>
        <td><%= link_to 'Show', musician %></td>
        <td><%= link_to 'Edit', edit_musician_path(musician) %></td>
        <td><%= link_to 'Destroy', musician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Musician', new_musician_path %>
