<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @band.title %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @band.logo %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @band.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @band.description %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
